In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('mobilepurchase.csv')

In [3]:
data

     Brand PriceRange     Camera Battery  Buy
0  Premium       High  Excellent    Long  Yes
1  Premium       High       Good    Long  Yes
2      Mid     Medium       Good    Long  Yes
3   Budget        Low    Average   Short   No
4   Budget        Low       Poor   Short   No
5      Mid        Low    Average   Short   No

In [7]:

concepts = np.array(data)[:,:-1]

In [9]:

concepts

array([['Premium', 'High', 'Excellent', 'Long'],
       ['Premium', 'High', 'Good', 'Long'],
       ['Mid', 'Medium', 'Good', 'Long'],
       ['Budget', 'Low', 'Average', 'Short'],
       ['Budget', 'Low', 'Poor', 'Short'],
       ['Mid', 'Low', 'Average', 'Short']], dtype=object)

In [11]:
target = np.array(data)[:,-1]

In [13]:
target

array(['Yes', 'Yes', 'Yes', 'No', 'No', 'No'], dtype=object)

In [15]:
def train(con, tar):
    for i, val in enumerate(tar):
        if val == 'Yes':
            specific_h = con[i].copy()
            break
            
    for i, val in enumerate(con):
        if tar[i] == 'Yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [17]:
print(train(concepts, target))

['?' '?' '?' 'Long']